<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Kiruthika</title>
  <meta
      name="description"
      content="Kiruthika is a passionate Software Developer and B.E IT student at Annamalai University. This portfolio showcases her projects, technical skills, and career interests in web development and programming."
    />
    <meta
      property="og:title"
      content="Kiruthika | Software Developer Portfolio"
    />
    <meta
      property="og:description"
      content="Explore Kiruthika's personal developer portfolio and see my projects, skills, and achievements."
    />
    <meta
      property="og:image"
      content="https://www.kiruthika.in/assets/img/person/kiruthi2.jpg"
    />
    <meta property="og:type" content="website" />
  <meta name="description" content="Kiruthika is a passionate Software Developer and B.E IT student at Annamalai University. This portfolio showcases her projects, technical skills, and career interests in web development and programming." />

  <meta name="keywords" content="Kiruthika, Software Developer, Portfolio, Web Developer, IT Student, Annamalai University, Frontend, Backend, Projects, Programming, B.E IT" />


  <!-- Favicons -->
  <link href="../assets/img/kk-fav.png" class="circle-img" rel="icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Updated: Mar 05 2025 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="../index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <h1 class="sitename">Kiruthika</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="about.html" class="active">About</a></li>
          <li><a href="resume.html">Resume</a></li>
         
          <li><a href="portfolio.html">Portfolio</a></li>
          
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1> <p class="mb-3">About</p></h1>
              <p class="mb-3"><b>Hello! I'm Kiruthika Madhavan</b></p>
<p class="mb-5">I'm a passionate and detail-oriented front-end developer with a strong interest in UI/UX design. I enjoy creating clean, responsive, and user-friendly web interfaces that not only look great but also deliver meaningful user experiences.
With a background in Computer Science,<br><br> I’ve developed a solid foundation in web technologies, including HTML, CSS, JavaScript, and frameworks React and Bootstrap. I'm also comfortable using tools like Figma for designing UI wireframes and Git for version control.
</p>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="../index.html">Home</a></li>
            <li class="current">About</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="../assets/img/person/kiruthi2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2> Designer &amp; Web Developer.</h2>
            <p class="fst-italic py-3">
            personal details about  Author Kiruthika
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 JAN 2006</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.kiruthika.in</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9080566860</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Theni,Tamilnadu,India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Under Graduated(UG)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kiruthika.softwaredeveloper@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>content creation:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4  col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-emoji-smile"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>
          <!-- End Stats Item -->
         <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-journal-richtext"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
            </div>
            <!-- End Stats Item -->
         <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-people"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
              <p>Team mates</p>
            </div>
          </div>
          <!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>My Skills</h2>
        <div><span class="description-title">Skills</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>HTML</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>JavaScript</span> <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Bootstrap</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>C</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->
            <div class="progress">
              <span class="skill"><span>C++</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            

            <div class="progress">
              <span class="skill"><span>JAVA</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>PYTHON</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->
            <div class="progress">
              <span class="skill"><span>MySQL</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>DSA</span> <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

 
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Feedback of programming</h2>
        <div> <span class="description-title">Programming Language </span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" >
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
                <span>C programming is one of the most fundamental and powerful languages in computer science. Working with C has given me a deep understanding of how software interacts with hardware, especially through concepts like memory management, pointers, and data structures. I've used C to build everything from small utilities and console-based applications to embedded system programs for microcontrollers. My experience with C has sharpened my logic and problem-solving skills and laid the groundwork for learning more complex systems and programming languages. Whether it's debugging with GDB or optimizing code using GCC, C has been an essential part of my journey as a developer.</span>
                <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/person/cprogram.jpeg" class="testimonial-img" alt="">
                <h3>C Programming</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>C++ programming  is a language known for its performance, versatility, and object-oriented features. C++ has been a core part of my development journey, helping me build everything from data structure implementations and console applications to more complex systems like simulations and basic games. My experience includes working with object-oriented design, memory management, and standard template libraries (STL), which has enhanced my ability to write efficient and scalable code. C++ has also deepened my understanding of core computer science concepts and helped me transition smoothly into other languages and technologies.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/person/c++2.png" class="testimonial-img" alt="">
                <h3>C++ Programming</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Python programming, a language I use for its readability, flexibility, and powerful libraries. Python has been a key tool in my development journey, helping me build web applications, automation scripts, data analysis tools, and more. I’ve worked extensively with frameworks like Flask and Django, as well as libraries such as Pandas, NumPy, and Matplotlib for data-driven projects. Python’s simplicity allows me to rapidly prototype ideas while maintaining clean and maintainable code. Whether I'm automating tasks, analyzing data, or building backend services, Python remains my go-to language for efficient problem solving.Python is the userfriendly language and understandable language.
                 </span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/person/python.jpeg" class="testimonial-img" alt="">
                <h3>Python</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Java is a powerful, versatile, and platform-independent programming language used widely for building robust, secure, and high-performance applications. Known for its object-oriented approach, Java enables developers to create reusable, scalable code across various domains — from web and mobile applications to enterprise-level systems and backend services. With frameworks like Spring, Hibernate, and JavaFX, it supports everything from microservices to rich desktop applications. Its Write Once, Run Anywhere (WORA) capability, strong community support, and continuous evolution make Java a top choice for developers worldwide.
In my development journey, java was the best,to build software.


</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/person/java.jpeg" class="testimonial-img" alt="">
                <h3>Java</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>JavaScript is the backbone of modern web development — a dynamic, high-level programming language that brings interactivity and life to websites. It runs directly in the browser, enabling developers to build fast, responsive, and user-friendly interfaces.
With the evolution of JavaScript and the rise of powerful frameworks and libraries like React, Vue, and Angular, it’s now possible to build full-scale web applications that run seamlessly across devices. JavaScript also powers backend development through environments like Node.js, making it a full-stack language.
In my work, JavaScript has been essential in building responsive UI components, handling asynchronous data with APIs, and creating smooth user experiences.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="../assets/img/person/js2.png" class="testimonial-img" alt="">
                <h3>JavaScript</h3>
              
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">PERSONAL</h3>
      <p>This is the Personal Information About Kiruthika.</p>
      <div class="social-links d-flex justify-content-center">
      
        <a href="https://github.com/Kiruthika-SoftwareDeveloper"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/kiruthika-softwaredeveloper"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>&copy;</span><strong class="px-1 sitename">Kiruthika.</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="../index.html">Kiruthika</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>